.loginPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: var(--main-grey);
    border: 1px solid #DCDCDC;
}
.button, .button:hover {
    display: block;
    background-color: #2cb62c;
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 7px 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    color: var(--main-text);
}
.button:hover {
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 0.2s;
    -o-transition: .2s ease-out;
    -o-transition-delay: 0.2s;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 0.2s;
    transition: .2s ease-out;
    transition-delay: 0.2s;
    background-color: #259925;
}
.input {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    border: 1px solid #DCDCDC;
    padding: 0px 10px;
}
.inputText {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-bottom: 3px;
    padding-left: 4px;
}
.register, .register:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 250px;
    margin-top: 10px;
    cursor: pointer;
    color: #4285F4;
    text-decoration: none;
}
.register:hover {
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 0.2s;
    -o-transition: .2s ease-out;
    -o-transition-delay: 0.2s;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 0.2s;
    transition: .2s ease-out;
    transition-delay: 0.2s;
    color: #5491f3;
}
.error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: var(--error-color);
    border: 1px solid #DCDCDC;
    color: #00000ab2;
    margin-top: 20px;
    width: 300px;
}
.iconClose {
    cursor: pointer;
}